@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
}

html {
font-size: 62.5%;
overflow-x: hidden;
}

body {
background-image: url(background.jpg);
background-repeat:no-repeat;
background-position: center;
background-attachment: fixed;
background-size: cover;
background-color: #376e6f;
}

.header {
position: fixed;
top: 0;
left: 0;
width: 100%;
padding: 2rem 9%;
background: #376e6f;
display: flex;
justify-content: space-between;
align-items: center;
z-index: 100;
}

.logo {
font-size: 2.5rem;
color: #da7b93;
font-weight: 600;
}

.navbar a {
font-size: 1.7rem;
color:#ededed;
font-weight: 500;
margin-left: 3.5rem;
}

.navbar a:hover,
.navbar a.active {
color:#da7b93;
}

#menu-icon {
font-size: 3.6rem;
color: #376e6f;
cursor: pointer;
display: none;
}

section {
min-height: 100vh;
padding: 10rem 9% 2rem;
}

.home {
display: flex;
align-items: center;
padding: 0 9%;
}

.home-content {
max-width: 60rem;
}

.home-content  h1 {
font-size: 6.6rem;
font-weight: 700;
line-height: 1.3;
font-style: italic;
}

.home-content  h1 span {
color: #ededed
}

.home-content  .text-animate {
position: relative;
width: 32.8rem;
}

.home-content  .text-animate h3 {
font-size: 4.2rem;
font-weight: 800;
-webkit-text-stroke: .8px #da7b93;
text-wrap: nowrap;
}

.home-content p {
font-size: 2.0rem;
margin: 2rem 0 4rem;
color: aliceblue;
}

.btn-box {
position: relative;
display: flex;
justify-content: space-between;
width: 34.5rem;
height: 5rem;
}

.btn-box .btn {
position: relative;
display: inline-flex;
justify-content: center;
align-items: center;
width: 15rem;
height: 100%;
background-color:#da7b93;
border: .2rem solid #2e151b;
border-radius: .8rem;
font-size: 1.8rem;
font-weight: 600;
letter-spacing: .1rem;
color: #2e151b;
z-index: 1;
overflow: hidden;
}

.btn-box .btn::before {
content: ' ';
position: absolute;
top: 0;
left: 0;
width: 0;
height: 100%;
background: #ededed;
z-index: -1;
transition: .5s;
}

.btn-box .btn:hover::before {
width: 100%;
}

.home-sci {
position: absolute;
bottom: 4rem;
width: 170px;
display: flex;
justify-content: space-between;
}

.home-sci a {
position: relative;
display: inline-flex;
justify-content: center;
align-items: center;
width: 40px;
height: 40px;
background: #2e151b;
border: .2rem solid #da7b93;
border-radius: 50%;
font-size: 20px;
color: #da7b93;
z-index: 1;
overflow: hidden;
transition: .5s;
}

.home-sci a:hover {
color: #2e151b;
}

.home-sci a::before {
content: ' ';
position: absolute;
top: 0;
left: 0;
width: 0;
height: 100%;
background:#da7b93;
z-index: -1;
transition: .5s;
}

.home-sci a:hover::before {
width: 100%;
}

/*About */

.about {
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
gap: 2rem;
background: #376e6f;
padding-bottom: 6rem;
}

.heading {
font-size: 5rem;
margin-bottom: 3rem;
text-align: center;
}

.about-img {
position: relative;
width: 25rem;
height: 25rem;
border-radius: 50%;
display: flex;
justify-content: center;
align-items: center;
}

.about-img img {
width: 100%;
border-radius: 50%;
border: .2rem solid #da7b93;
}

.about-content {
text-align: center;
}

.about-content h3 {
font-size: 2.6rem;
color: #2e151b;
}

.about-content p {
font-size: 1.8rem;
margin: 2rem 0 3rem;
font-style: italic;
}

.btn-box.btns {
display: inline-block;
width: 15rem;
}

.btn-box.btns a::before {
background:#2e151b;
}

/*Education*/

.education {
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
min-height: auto;
padding-bottom: 5rem;
background: #1c3334;
}

.education  .education-row {
display: flex;
flex-wrap: wrap;
gap: 5rem;
}

 .education-row .education-column {
flex: 1 1 40rem;
}

.education-column .title {
font-size: 2.5rem;
margin: 0 0 1.5rem 2rem;
}

.education-column .education-box {
border-left: .2rem solid #da7b93;
}

.education-box .education-content {
position: relative;
padding-left: 2rem;
}

.education-box .education-content::before {
content: ' ';
position: absolute;
top: 0;
left: -1.1rem;
width: 2rem;
height: 2rem;
background:#da7b93;
border-radius: 50%;
}

.education-content .content {
position: relative;
padding: 1.5rem;
border: .2rem solid #da7b93;
border-radius: .6rem;
margin-bottom: 2rem;
z-index: 1;
overflow: hidden;

}

.education-content  .content::before {
content: ' ';
position: absolute;
top: 0;
left: 0;
width: 0;
height: 100%;
background: #da7b93;
z-index: -1;
transition: .5s;

}

.education-content .content:hover::before {
width: 100%;
}

 .education-content .content .year {
font-size: 1.5rem;
color: #da7b93;
padding-bottom: .5rem;
}

.education-content .content .year  i {
padding-right: .5rem;
}

.education-content .content  h3 {
font-size: 2rem;
}

.education-content .content p {
font-size: 1.6rem;
padding-top: .5rem;
}

.skills {
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
min-height: auto;
padding-bottom: 7rem;
background: #376e6f;
}

.skills .skills-row {
display: flex;
flex-wrap: wrap;
gap: 5rem;
}

.skills-row  .skills-column {
flex: 1 1 40rem;
}

.skills-column .title {
font-size: 2.5rem;
margin: 0 0 1.5rem;
}

.skills-box .skills-content {
position: relative;
border: .2rem solid #da7b93;
border-radius: .6rem;
padding: .5rem 1.5rem;
z-index: 1;
overflow: hidden;
}

.skills-box .skills-content ::before {
content: ' ';
position: absolute;
top: 0;
left: 0;
width: 0;
height: 100%;
background:#da7b93;
z-index: -1;
transition: .5s;
}

.skills-box .skills-content:hover ::before  {
width: 100%;
}


.skills-content .progress {
padding: 1rem 0;
}

.skills-content .progress h3 {
font-size: 1.7rem;
display: flex;
justify-content: space-between;
}

.skills-content .progress h3 span {
color: #da7b93;
}

.skills-content .progress .bar {
height: 2.5rem;
border-radius: .6rem;
border: .2rem solid #da7b93;
padding: .5rem;
margin: 1rem 0;
}

.skills-content .progress .bar span {
display: block;
height: 100%;
border-radius: .3rem;
background-color:#da7b93;
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(1) .bar span {
width: 90%;
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(2) .bar span {
width: 80%;
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(3) .bar span {
width: 70%;
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(4) .bar span {
width: 85%;
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(5) .bar span {
width: 80%;
}


.skills-column:nth-child(2) .skills-content .progress:nth-child(1) .bar span {
width: 90%;
}

.skills-column:nth-child(2) .skills-content .progress:nth-child(2) .bar span {
width: 90%;
}

.skills-column:nth-child(2) .skills-content .progress:nth-child(3) .bar span {
width: 90%;
}

.skills-column:nth-child(2) .skills-content .progress:nth-child(4) .bar span {
width: 90%;
}

.skills-column:nth-child(2) .skills-content .progress:nth-child(5) .bar span {
width: 90%;
}

/*Portfolio */

.portfolio {
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
gap: 2rem;
background: #1c3334;
padding-bottom: 6rem;
}

.heading {
display: flex;
text-align: center;
color:#da7b93
}
.portfolio h2 {
margin-bottom: 4rem;
}

.portfolio-container {
display: grid;
grid-template-columns: repeat(3,1fr);
align-items: center;
gap: 2.5rem;
}

.portfolio-container .portfolio-box {
position: relative;
border-radius: 2rem;
box-shadow: 0 0 1rem var(--bg-color);
overflow: hidden;
display: flex;
}

.portfolio-box  img {
width: 100%;
transition: .5s ease;
}

.portfolio-box:hover img {
transform: scale(1.1);
}

.portfolio-box .portfolio-layer {
position: absolute;
bottom: 0;
left: 0;
width: 100%;
height: 100%;
background: linear-gradient(rgba(0, 0, 0, .1), var(--main-color));
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
text-align: center;
padding: 0 4rem;
transform: translateY(100%);
transition: .5s  ease;
}

.portfolio-box:hover .portfolio-layer {
transform: translateY(0);
}

.portfolio-layer h4 {
font-size: 3rem;
}

.portfolio-layer p {
font-size: 1.6rem;
margin: 3rem 0 1rem;
}

.portfolio-layer a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background: var(--text-color);
    border-radius: 50%;
}

.portfolio-layer a i {
font-size: 2rem;
color: var(--main-bg-color);
}

/*Contact*/

.contact {
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
min-height: auto;
padding-bottom: 7rem;
background: #376e6f;
}

.contact form {
max-width: 70rem;
margin: 0 auto;
text-align: center;
}

.contact form .input-box {
position: relative;
display: flex;
justify-content: space-between;
flex-wrap: wrap;
}

.contact form .input-box .input-field {
position: relative;
width: 49%;
margin: .8rem 0;
}

.contact form .input-box .input-field input,
.contact form .textarea-field textarea {
width: 100%;
height: 100%;
padding: 1.5rem;
font-size: 1.6rem;
color: #2e151b;
background: transparent;
border-radius: .6rem;
border: .2rem solid #da7b93;
}

.contact form .input-box .input-field input::placeholder,
.contact form .textarea-field textarea::placeholder {
color:#da7b93
}

.contact form .focus {
position: absolute;
top: 0;
left: 0;
width: 0;
height: 100%;
background:#da7b93;
border-radius: .6rem;
z-index: -1;
transition: .5s;
}


.contact form .input-box .input-field input:focus~.focus,
.contact form .input-box .input-field input:valid~.focus,
.contact form .textarea-field textarea:focus~.focus,
.contact form .textarea-field textarea:valid~.focus {
width: 100%;
}


.contact form .textarea-field {
position: relative;
margin: .8rem 0 2.7rem;
display: flex;
}

.contact form .textarea-field textarea {
resize: none;
}

.contact form .btn-box.btns btn {
cursor: pointer;
}


form button {
padding: 12px 32px;
background: #da7b93;
border: none;
outline: none;
border-radius: 6px;
box-shadow: 0 0 10px #da7b93;
font-size: 16px;
color: #2e151b;
letter-spacing: 1px;
font-weight: 600;
cursor: pointer;
margin-top: 10px;
}

form button:hover {
box-shadow: none;
}


/* Footer*/

.footer {
display: flex;
justify-content: space-between;
align-items: center;
flex-wrap: wrap;
padding: 2rem 9%;
background: #1c3334;
}

.footer-text p {
font-size: 1.6rem;
}

/*breakpouints*/
@media (max-width:1200px) {
html {
font-size: 55%;
    }
}

@media (max-width: 991px) {
.header {
padding: 2rem 4%;
}
section  {
padding: 10rem 4% 2rem;
}
.home {
padding: 0 4%;
}
.footer {
padding: 2rem 4%;
}
}

@media (max-width: 768px) {
.header {
background: #da7b93;
}
#menu-icon {
display: block;
}
}










